<h1 class="title">Chat room</h1>

<div id="messages" class="chats">
  <%= render @messages %>
</div>

<form class="form">
  <label class="title">Join the Discussion:</label><br>
  <input type="text" data-behavior="room_speaker" class="form-input">
</form>
