/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.chats {
  border: solid 2px lightskyblue;
  border-radius: 1rem;
  width: auto;
  padding-left: 2rem;
  margin-left: 30%;
  margin-right: 30%;
  display: block;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 2rem;
}

.form {
  align-content: center;
  margin-left: 35%;
  margin-right: 35%;
  width: auto;
  margin-top: 2rem;
  text-align: center;
}

.form-input {
  margin-top: 1rem;
  border: solid 1px black;
  border-radius: 5%;
}
